body {
    margin: 0;
    padding: 0;
    background-color:  #0c1927;
    height: 100vh;
}
.main-box {
    display: flex;
    justify-content: center;
}
.container {
    max-width: 900px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        h2 {
            color: #fff;
            font-size: 27px;
            margin: 0;
        }

        p {
            color: #fff;
        }
    }

    .search-box {
        //background-color: #19324d;
        background-color: #1e3f62;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

        input {
            outline: none;
            border: none;
            background-color: #1e3f62;

            &::placeholder {
                color:	#cccccc;
                font-size: 17px;
                padding-left: 10px;
                

                &::before {
                    content: '\260C';
                    font-size: 25px;
                }
            }
        }

        input[type=text] {
            color: #fff;
            font-size: 18px;
            padding-left: 10px;
        }

        span {
            background-color: #1a75ff;
            color: #fff;
            padding: 15px 22px;
            border-radius: 10px;
        }
    }
}

