body, html {
    margin: 0;
    padding: 0;
    background-color:  #0c1927;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    font-family: 'Inconsolata', monospace;
}
.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    max-width: 900px;
    width: 100%;

    .title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        h2 {
            color: #fff;
            font-size: 27px;
            margin: 0;
        }

        p {
            color: #fff;

            svg {
                margin-left: 15px;
            }
        }
    }

    .search-box {
        //background-color: #19324d;
        background-color: #1e3f62;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        input {
            outline: none;
            border: none;
            background-color: #1e3f62;
            width: 100%;

            &::placeholder {
                color:	#cccccc;
                font-size: 17px;
                padding-left: 10px;
                

                &::before {
                    content: '\260C';
                    font-size: 25px;
                }
            }
        }

        input[type=text] {
            color: #fff;
            font-size: 18px;
            padding-left: 10px;
        }

        span {
            background-color: #1a75ff;
            color: #fff;
            padding: 15px 22px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .user-data-box {
        background-color: #1e3f62;
        margin-top: 20px;
        border-radius: 10px;
        display: flex;
        padding: 25px 0;

        .img-box {
            max-width: 250px;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0 20px;

            img {
                width: 140px;
                height: 140px;
                border-radius: 50%;
            }
        }

        .main-info-box {
            width: 100%;
            padding-right: 40px;

            .first-section {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                flex-wrap: wrap;

                h2 {
                    color: #fff;
                    font-size: 27px;
                    margin: 0;
                    margin-bottom: 8px;
                    letter-spacing: 1px;
                }

                .hashtag {
                    color: #1a75ff;
                    text-decoration: none;
                }
                
                p {
                    margin: 30px 0;
                    color: #cccccc;
                    letter-spacing: 1px;
                }

                .joined {
                    margin: 0;
                }
            }

            .second-section {
                display: flex;
                justify-content: center;
                background-color: #0c1927;
                border-radius: 10px;
                padding: 10px 45px;
                margin-top: 30px;

                p {
                    color:  #cccccc;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    letter-spacing: 1px;
                    margin: 15px 35px;

                    span {
                        font-size: 22px;
                        font-weight: bold;
                        margin-top: 8px;
                    }
                }
            }
        } 
    }
}

